<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575394412821-16sqsn3l07u4rq7hnsm7papjk5iadpk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575394412821-16sqsn3l07u4rq7hnsm7papjk5iadpk0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>575394412821-lrn8nbb5o77qehi2nbjvtbgrn8pd29je.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIeY7twagNpc3Y8_9NSyaG_kG7jZZ8RYs</string>
	<key>GCM_SENDER_ID</key>
	<string>575394412821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nxtdesigns.easypark</string>
	<key>PROJECT_ID</key>
	<string>qikpark-d205a</string>
	<key>STORAGE_BUCKET</key>
	<string>qikpark-d205a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575394412821:ios:9d9eba02124d67ec85511c</string>
</dict>
</plist>